<div class="main">
  <div class="container">
    <div class="row">

      <div class="col-sm-6">
        <h2> Registro de Clientes</h2>
        <app-seleccionar-cliente
        [nombre]="ClienteSelected.nombre"
        (seleccionoCliente)="asignarCliente($event)"
        (canceloCliente)="cancelarCliente()"
        >
        </app-seleccionar-cliente>
        <br>
        <br>
        <div class="input-group form-group flex">
            <label>Plan de Precios:</label>
            <select [(ngModel)]="idPrecio" (change)="seleccionarPrecio($event.target.value)" name="" id="">
              <option [value]=null>Seleccione un plan de precios</option>
              <option  *ngFor="let precio of precios" [value]="precio.id">{{precio.nombre}}</option>

            </select>
        </div>
        <br>
        <div class="input-group form-group flex">
          <label>Fecha Inicio:</label>
          <input class="form-control" type="text" [value]="registro.fecha | date" disabled>
        </div>

        <div class="input-group form-group flex">
          <label>Fecha fin:</label>
          <input class="form-control" type="text" [value]="registro.fechaFinal | date" disabled>
        </div>

        <div class="input-group form-group flex">
          <label>Subtotal:</label>
          <input class="form-control" type="number" [value]="registro.subTotal" disabled>
        </div>

        <div class="input-group form-group flex">
          <label>Iva:</label>
          <input class="form-control" type="number" [value]="registro.iva" disabled>
        </div>

        <div class="input-group form-group flex">
          <label>Total:</label>
          <input class="form-control" type="number" [value]="registro.total" disabled>
        </div>

        <br>
        <br>
        <button class="btn btn-primary" (click)="guardar()">Guardar</button>
      </div>

      <div class="col-sm-6 flex">
          <div *ngIf="ClienteSelected.foto" class="flex">
            <img [src]="ClienteSelected.foto" alt="" class="flexImg">
          </div>

      </div>

    </div>
  </div>
</div>
