.main{
  background-image: url('../../assets/img/lobocentro.png');
  background-color:#E8ECF7;
  background-position: initial;
  background-repeat: repeat-x;
  height: 911px;
  width: auto;

}
.flex{
  display: flex;
  flex-direction: column;
}

.flexImg{
  align-items: center;
  align-self: center;
  width: 300px;
  height: 300px;
  margin-top: 100px;
}

.btn-primary{
  background-color: #A61914;
  border: 0px solid #2D3132;
  border-radius: 44px 44px 44px 44px;
  -moz-border-radius: 44px 44px 44px 44px;
  -webkit-border-radius: 44px 44px 44px 44px;
}
