.main{
  background-image: url('../../assets/img/lobocentro.png');
  background-color:#E8ECF7;
  background-position: initial;
  background-repeat: repeat-x;
  height: 911px;
  width: auto;

}

.flex{
  display: flex;
  flex-direction: column;
}

.imgCliente img {
 width: 200px;
 height: 200px;
}
