<div class="container mt-5">
  <div class="d-flex justify-content-center h-100 mt-10">
    <div class="card">
      <div class="card-header text-center">
        <h3>-------------  WolfGYM  ---------------</h3>
        <img src="/assets/img/wolfrose.jpeg">
        <h5> Please, Log in </h5>
      </div>
      <div class="card-body">
        <form [FormGroup]="loginForm">
          <div class="input-group form-group">
            <span class="input-group-text"><i class="fas fa-user"></i></span>
            <input type="email" class="form-control" formControlName="email" placeholder="E-mail" />
          </div>
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-key"></i></span>
            </div>
            <input
              type="password"
              class="form-control"
              formControlName="password"
              placeholder="password"
              (keyUp.enter)="ingresar()"
            />
          </div>
            <div class="row align-items-center remember">
              <input type="checkbox" />Remember Me
            </div>
          <!-- Agregando [disabled]="!login.valid" me habilitara el boton
          solo si es valido cada uno de los inputs del formulario-->
            <button [disabled]="!loginForm.valid" type="submit" class="btn btn-primary float-right" (click)="acceder()">
              Acceder
            </button>
        </form>
      </div>
      <div class="card-footer">
        <div class="d-flex justify-content-center links">
          Don't have an account?<a href="#">Sign Up</a>
        </div>
        <div class="d-flex justify-content-center">
          <a href="#">Forgot your password?</a>
        </div>
      </div>
    </div>
