<div class="container mt-5">
  <div class="d-flex justify-content-center h-100">
    <div class="card">
      <div class="card-header text-center">
        <h3>-------------  WolfGYM  ---------------</h3>
        <img src="/assets/img/wolfrose.jpeg">
        <h5> Please, Log in </h5>
      </div>
      <div class="card-body">
        <form [formGroup]="loginForm">
          <div class="input-group form-group">
            <span class="input-group-text"><i class="fas fa-user"></i></span>
            <input type="email" class="form-control" formControlName="email" placeholder="E-mail" />
          </div>
          <!-- Creamos un div extra cuando haya mas de una validacion
          poder mostrar el error que corresponde y no todos -->
          <div *ngIf="loginForm.controls['email'].invalid && loginForm.controls['email'].dirty">
            <div *ngIf="loginForm.controls['email'].errors.required"class="alert alert-danger" role="alert">
              <span>El email es requerido!</span>
            </div>
            <div *ngIf="loginForm.controls['email'].errors.email" class="alert alert-danger" role="alert">
              <span>Debe introducir un email correcto</span>
            </div>
          </div>

          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-key"></i></span>
            </div>
            <input
              type="password"
              class="form-control"
              formControlName="password"
              placeholder="password"
              (keyUp.enter)="acceder()"
            />
          </div>
             <div *ngIf="loginForm.controls['password'].invalid && loginForm.controls['password'].dirty">
              <div  *ngIf="loginForm.controls['password'].errors.required" class="alert alert-danger" role="alert">
                <span>La password es requerida!</span>
              </div>
              <div *ngIf="loginForm.controls['password'].errors.minLength" class="alert alert-danger" role="alert">
                <span>La contrasenia debe ser mayor a 6 digitos!</span>
              </div>
            </div>

          <!-- Agregando [disabled]="!login.valid" me habilitara el boton
          solo si es valido cada uno de los inputs del formulario-->
            <button type="submit"[disabled]="!loginForm.valid" class="btn btn-primary float-right" (click)="acceder()">
              Acceder
            </button>
        </form>
      </div>
      <div class="card-footer">
        <div class="d-flex justify-content-center links">
          Don't have an account?<a href="#">Sign Up</a>
        </div>
        <div class="d-flex justify-content-center">
          <a href="#">Forgot your password?</a>
        </div>
      </div>
      <div *ngIf="!datosCorrectos" class="alert alert-warning" role="alert">
        {{mensajeError}}
      </div>
    </div>
    <ngx-spinnerbd
     Color="rgba(0, 0, 0, 0.8)"
    size = "medium"
    color = "#e8ecf7"
    type = "ball-spin-clockwise-fade"
    [fullScreen] = "true">
    <p style="color: white" >
       Cargando...
      </p>
    </ngx-spinner>
</div>
