.container {
  background-color:#E8ECF7;
}

.main{
  background-color:#E8ECF7;
  width: 100%;
  height:966px;
}

.btn-primary{
  background-color: #A61914;
  border: 0px solid #2D3132;
  border-radius: 44px 44px 44px 44px;
  -moz-border-radius: 44px 44px 44px 44px;
  -webkit-border-radius: 44px 44px 44px 44px;
}

.card{
border-radius: 19px 19px 19px 19px;
-moz-border-radius: 19px 19px 19px 19px;
-webkit-border-radius: 19px 19px 19px 19px;
}
