<div class="main">
  <div class="imagen"></div>
    <div class="formulario">
      <div class="container">
        <div class="d-flex justify-content-center h-100 mt-5">
          <div class="card mt-5">
            <div class="card-header">
              <h2>************  Registro  ************</h2>
            </div>
            <div class="card-body">
              <form  [formGroup]="clientesFormulario">

                <div class="input-group form-group">
                  <span class="input-group-text"><i class="fas fa-user"></i></span>
                  <input type="text" class="form-control" formControlName="nombre" placeholder="Nombre" />
                </div>
                <div *ngIf="clientesFormulario.controls['nombre'].invalid && clientesFormulario.controls['nombre'].dirty" class="alert alert-danger" role="alert">
                  <span *ngIf="clientesFormulario.controls['nombre'].errors.required">El nombre es requerido!</span>
                </div>
                <!-- Con esta validacion podemos saber si el nombre ya esta escrito(invalid)
                [input lleno] o apenas se empieza a escribir (dirty)
                {{formularioCreado.controls['nombre'].invalid}}
                {{formularioCreado.controls['nombre'].dirty}} -->
                <div class="input-group form-group">
                  <span class="input-group-text"><i class="fas fa-user"></i></span>
                  <input type="text" class="form-control" formControlName="apellidos" placeholder="Apellidos" />
                </div>
                <div *ngIf="clientesFormulario.controls['apellidos'].invalid && clientesFormulario.controls['apellidos'].dirty" class="alert alert-danger" role="alert">
                  <span *ngIf="clientesFormulario.controls['apellidos'].errors.required">El Apellido es requerido!</span>
                </div>
                <div class="input-group form-group">
                  <span class="input-group-text"><i class="fas fa-user"></i></span>
                  <input type="email" class="form-control" formControlName="email" placeholder="E-mail" />
                </div>
                <!-- Creamos un div extra cuando haya mas de una validacion
                poder mostrar el error que corresponde y no todos -->
                <div *ngIf="clientesFormulario.controls['email'].invalid && clientesFormulario.controls['email'].dirty">
                  <div *ngIf="clientesFormulario.controls['email'].errors.required"class="alert alert-danger" role="alert">
                    <span>El email es requerido!</span>
                  </div>
                  <div *ngIf="clientesFormulario.controls['email'].errors.email" class="alert alert-danger" role="alert">
                    <span>Debe introducir un email correcto</span>
                  </div>
                </div>
                <div class="input-group form-group">
                  <span class="input-group-text"><i class="fas fa-user"></i></span>
                  <input type="date" class="form-control" formControlName="fecha_nacimiento" placeholder="fecha de nacimiento" />
                </div>
                <div *ngIf="clientesFormulario.controls['fecha_nacimiento'].invalid && clientesFormulario.controls['fecha_nacimiento'].dirty" class="alert alert-danger" role="alert">
                  <span *ngIf="clientesFormulario.controls['fecha_nacimiento'].errors.required">la fecha de nacimiento es requerida!</span>
                </div>
                <div class="input-group form-group">
                  <span class="input-group-text"><i class="fas fa-user"></i></span>
                  <input type="tel" class="form-control" formControlName="telefono" placeholder="telefono" />
                </div>
                <div *ngIf="clientesFormulario.controls['telefono'].invalid && clientesFormulario.controls['telefono'].dirty" class="alert alert-danger" role="alert">
                  <span *ngIf="clientesFormulario.controls['telefono'].errors.required">Debe agregar un  numero de movil!</span>
                </div>

                <!-- Agregando [disabled]="!formularioCreado.valid" me habilitara el boton
                solo si es valido cada uno de los inputs del formulario-->
                <div class="input-group form-group">
                  <input type="file" class="form-control-file" (change)="subirImagen($event)" formControlName="foto"  placeholder=" Seleccione una foto" />
                </div>
                <div *ngIf="clientesFormulario.controls['foto'].invalid && clientesFormulario.controls['foto'].dirty" class="alert alert-danger" role="alert">
                  <span *ngIf="clientesFormulario.controls['foto'].errors.required">La foto es requerida!</span>
                </div>
                <div  *ngIf="porcentajeSubida >0" class="loading">
                  <progressbar [value]="porcentajeSubida" type="danger" [striped]="true">{{porcentajeSubida}}%</progressbar>
                </div>
                <br>
                  <button *ngIf="esNuevo" type="submit" [disabled]="!clientesFormulario.valid"  class="btn btn-primary float-right" (click)="agregar()">
                    Agregar
                  </button>
                  <button *ngIf="!esNuevo" type="submit"   class="btn btn-primary float-right" (click)="editar()">
                    Editar
                  </button>
              </form>
            </div>
            <div class="card-footer">
              <div class="d-flex justify-content-center links">
                The best way training: <a href="#">wolfGym</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

