.imagen{
  background-image: url('../../assets/img/wolfrose.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-color: #E8ECF7;
  height: 911px;
  width: 50%;
}

.formulario{
  height: 911px;
  width: 50%;
}
.main{
  display: flex;
  align-items: flex-start;
}
