
.main{
  background-image: url('../../assets/img/lobocentro.png');
  background-color:#E8ECF7;
  background-position: initial;
  background-repeat: repeat-x;
  height: 911px;
  width: auto;

}
.btn-primary{
  background-color: #2D3132;
  border: 0px solid #ffff;
  border-radius: 44px 44px 44px 44px;
  -moz-border-radius: 44px 44px 44px 44px;
  -webkit-border-radius: 44px 44px 44px 44px;
}


.btn-danger{
  background-color: #A61914;
  border: 0px solid #2D3132;
  border-radius: 44px 44px 44px 44px;
  -moz-border-radius: 44px 44px 44px 44px;
  -webkit-border-radius: 44px 44px 44px 44px;
}
